node_modules
dist
.DS_Store
*.log
.env*
site/_icons-css.css
site/node_modules
site/.next
site/out
site/*.tsbuildinfo
site/next-env.d.ts
flutter/.dart_tool
flutter/build
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/pubspec.lock
