# pnpm 11 enabled a default 24h "minimum release age" check on lockfile
# entries — it rejects any dep published within the last day. Useful as
# a defence-in-depth signal for prod apps, but the docs site doesn't
# warrant it (this set is rebuilt from scratch on every brand change).
minimum-release-age=0
